/* Header background color */
.bg-background-main {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-600 {
    background-color: rgba(0,0,0,0.06);
}

.bg-gray-300 {
    background-color: rgba(0,0,0,0.03);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

/* Make the text on yellow notifications more readable */
.v--default-css .c-toast--warning {
    color: #000000 !important;
}


/* Keep stuff in the middle of tables */
.table > tbody > tr > td {
    vertical-align: middle;
}

/* Turn off the "Current" span on pagination */
.sr-only {
    display:none;
}

/* Smaller font sizes */
.fs-90 {
    font-size: .9em;
}
.fs-80 {
    font-size: .8em;
}

/* Extra width sizes */
.w-30 {
    width: 30% !important;
}

.w-33 {
    width: 33% !important;
}

.w-66 {
    width: 66% !important;
}


.card-title::first-letter {
    text-transform:capitalize;
}
